@page "/"

<div class="hero">
    <h1>The Interview</h1>
    <h3>A text-based RPG built in C# </h3>
    <img src="images/logo.png" alt="Game logo" />
</div>

<div class="downloads">
    <h2>Download</h2>
<a href="files/TextRPG_Package.zip" download>Download Text RPG Game</a>
    <a href="files/TheInterview-Mac.zip" download>Download for Mac</a>
</div>
